.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: var(--hds-3);
    }
  }

  .link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;

    .icon {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &-github {
        background-image: url(../assets/github-icon.png);
      }

      &-velog {
        background-image: url(../assets/velog-icon.png);
      }
    }
  }

  @media screen and (max-width: $grid-break-point-md) {
    &__container {
      flex-direction: column;

      .header-left,
      .header-right,
      .contact {
        align-items: center;
      }

      .header-right {
        margin-top: var(--hds-3);
      }
    }
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: var(--hds-14);

  .container {
    .text-underline {
      color: var(--main-point-color);
      text-decoration: underline;
    }
  }
}

.step-title {
  padding-bottom: var(--hds-4);
  border-bottom: dashed 1px var(--dark-gray-color);
  text-align: center;
}

.other-experience__section {
  @media screen and (max-width: $grid-break-point-md) {
    .content__wrap {
      row-gap: var(--hds-4);

      .content-left .v-stack {
        align-items: flex-start;
      }
    }
  }
}

.content__wrap {
  display: flex;

  .content {
    padding: 0 var(--hds-4);

    .list {
      display: flex;
      flex-direction: column;
      row-gap: 6px;

      li {
        position: relative;
        padding-left: 12px;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          content: '•';
          color: var(--main-point-color);
        }
      }
    }
  }

  .content-left {
    display: flex;
    align-items: flex-start;
    flex: 1;

    .profile-image {
      width: 200px;
      height: 200px;
      overflow: hidden;

      .img {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 50%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../assets/profile.png);
      }
    }
  }

  .content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;

    .badge-box {
      vertical-align: bottom;
    }

    p.quote {
      text-align: center;
    }
  }

  .bar {
    position: relative;
    padding-left: 15px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 2px;
      height: 100%;
      background-color: var(--main-point-color);
    }
  }

  @media screen and (max-width: $grid-break-point-md) {
    flex-direction: column;
    row-gap: var(--hds-8);

    .content-left {
      justify-content: center;

      .v-stack {
        align-items: center;
      }
    }
  }
}
