.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: var(--hds-3);
    }
  }

  .link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;

    .icon {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &-github {
        background-image: url(../assets/github-icon.png);
      }

      &-velog {
        background-image: url(../assets/velog-icon.png);
      }
    }
  }

  .text-underline {
    color: var(--main-point-color);
    text-decoration: underline;
  }

  @media screen and (max-width: $grid-break-point-md) {
    &__container {
      flex-direction: column;

      .header-left,
      .header-right,
      .contact {
        align-items: center;
      }

      .header-right {
        margin-top: var(--hds-3);
      }
    }
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.step-title {
  padding-bottom: var(--hds-3);
  border-bottom: dashed 2px var(--dark-gray-color);
  text-align: center;
}

.content__wrap {
  display: flex;

  .content {
    padding: 0 var(--hds-4);
  }

  .content-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    .profile-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid #000;
    }
  }

  .content-right {
    flex: 3;

    .badge-box{
      vertical-align: bottom;
    }
  }

  @media screen and (max-width: $grid-break-point-md) {
    flex-direction: column;
    row-gap: var(--hds-8);
  }
}
